gateway-helm:
  deployment:
    envoyGateway:
      resources:
        limits:
          memory: 256Mi
        requests:
          cpu: 50m
          memory: 128Mi
    replicas: 2

  config:
    envoyGateway:
      gateway:
        controllerName: gateway.envoyproxy.io/gatewayclass-controller
      provider:
        type: Kubernetes
      logging:
        level:
          default: warn

externalServices:
  - name: jellyfin-external
    namespace: default
    externalHost: 192.168.1.81  # IP or hostname
    port: 443
    targetPort: 443