# Envoy Gateway Helm values
config:
  envoyGateway:
    gateway:
      controllerName: gateway.envoyproxy.io/gatewayclass-controller
    provider:
      type: Kubernetes

# Service type for Envoy Gateway
service:
  type: LoadBalancer
  annotations: {}
