kyverno:
  fullnameOverride: kyverno

  admissionController:
    rbac:
      clusterRole:
        extraResources:
          - apiGroups:
              - ""
            resources:
              - secrets
            verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete
          - apiGroups:
              - gateway.envoyproxy.io
            resources:
              - securitypolicies
            verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete

  backgroundController:
    rbac:
      clusterRole:
        extraResources:
          - apiGroups:
              - ""
            resources:
              - secrets
            verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete
          - apiGroups:
              - gateway.envoyproxy.io
            resources:
              - securitypolicies
            verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete

policies:
  envoyOidc:
    enabled: true

    # HTTPRoutes with this label will get an OIDC SecurityPolicy generated.
    labelKey: oidc
    labelValue: "true"

    # Source namespace for cloning the OIDC secrets into target namespaces.
    secretNamespace: envoy-gateway
    clientSecretName: oidc-client-secret
    clientIDSecretName: oidc-client-id

    issuer: https://accounts.google.com
    cookieDomain: joeriberman.nl

    # - store idToken as plaintext so the JWT filter can read claims
    scopes:
      - email
    idTokenCookieName: id-token

    jwtProviderName: google
    remoteJWKS:
      uri: https://www.googleapis.com/oauth2/v3/certs
      cacheDuration: 300s

    emailWhitelist:
      - joeriberman@gmail.com

