kyverno:
  fullnameOverride: kyverno

  admissionController:
    rbac:
      clusterRole:
        extraResources:
          - apiGroups:
              - ""
            resources:
              - secrets
            verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete
          - apiGroups:
              - gateway.envoyproxy.io
            resources:
              - securitypolicies
            verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete

  backgroundController:
    rbac:
      clusterRole:
        extraResources:
          - apiGroups:
              - ""
            resources:
              - secrets
            verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete
          - apiGroups:
              - gateway.envoyproxy.io
            resources:
              - securitypolicies
            verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete

policies:
  envoyOidc:
    enabled: true

    # HTTPRoutes with this label will get an OIDC SecurityPolicy generated.
    labelKey: auth.joeriberman.nl/oidc
    labelValue: "true"

    # Source namespace for cloning the OIDC secrets into target namespaces.
    secretNamespace: envoy-gateway
    clientSecretName: oidc-client-secret
    clientIDSecretName: oidc-client-id

    issuer: https://accounts.google.com
    redirectURL: https://auth.joeriberman.nl/oauth2/callback
    cookieDomain: joeriberman.nl

    emailWhitelist:
      - joeriberman@gmail.com

