argo-cd:
  fullnameOverride: argocd
  
  global:
    logging:
      level: info
      format: json
  
  crds:
    annotations:
      argocd.argoproj.io/sync-options: ServerSideApply=true
  
  configs:
    cm:
      create: true
    
    params:
      server.insecure: true
  
  controller:
    replicas: 1
  
  server:
    replicas: 1
    httproute:
      enabled: true
      hostnames:
        - argocd.joeriberman.nl
      parentRefs:
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: envoy-gateway
          namespace: envoy-gateway
          sectionName: web-https
  
  repoServer:
    replicas: 1
  
  redis:
    enabled: true
  
  dex:
    enabled: false
  
  notifications:
    enabled: false
  
  applicationSet:
    enabled: true

