vault:
  server:
    ha:
      enabled: true
      replicas: 2
      raft:
        enabled: true
        setNodeId: true

    dataStorage:
      enabled: true
      size: 2Gi
      storageClass: platform-rwo
    
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app.kubernetes.io/name: vault
            topologyKey: kubernetes.io/hostname

  ui:
    enabled: true

  injector:
    enabled: true

route:
  enabled: true
  hostname: vault.k8s.joeriberman.nl
  parentGateway:
    name: envoy-gateway
    namespace: envoy-gateway
    sectionName: web-https
  backend:
    serviceName: vault-ui
    port: 8200
